/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  /* width: 100%vw; */
  margin: 0 auto;
}

.the-beginning {
  background-image: url("images/section-1/background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

/*** Header ***/
header{
  /* margin-bottom: 336px; */
  max-width: 1000px;
  margin: 0 auto;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 28px;  
  padding-right: 15px;
}

.menu-icon {
  display: none;
  border: none;
  background: url(images/logo-section/menu.png) center center no-repeat;
  cursor: pointer;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.menu {
  display: none;
}

.menu-list  {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list li {
  margin-right: 15px;
  padding: 20px;
}

.menu-link a {
  text-decoration: none;
  color: white;
}

.nav-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 41px;
  transition: color 200ms;
}

/*** Main ***/
main {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 0; */
  max-width: 1000px;
  margin: 0 auto;
}

.main-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;  
  line-height: 40px;
  margin-top: 313px;
}
.sub-heading {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.first-button {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
  margin-bottom: 65px;
  background-color: rgba(255, 101, 101, 1);
  border: none;
  height: 44px;
  width: 162px;
  border-radius: 22px;
  cursor: pointer;
  transition: opacity 150ms;
}

.first-button:hover {
  opacity: 0.9;
}

.main-paragraph {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  max-width: 650px;
  margin-top: 0;
  margin-bottom: 115px;
}

/***Section 2 ***/
.section-2 {
  max-width: 1000px;
  margin: 0 auto;
}

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 97px;
}
.what-we-do h2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 40px;
}
.what-we-do p {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  max-width: 650px;
  margin-top: 0;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 110px;
}
.features div {
  margin-top: 0;
  margin-bottom: 0;
}
.features h3 {
  font-size: 18px;
  font-weight: 600;
}
.features p {
  font-size: 14px;
  font-weight: normal;
}

.features .feature-images {
  cursor: pointer;
}

/*** Section 3 ***/
.section-3 {
  background-image: url("images/section-3/background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center; /*Try to check this*/
  background-size: cover;
  margin: 0;
  padding-bottom: 79px;
}

.main-3-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.our-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 141px;
  margin-bottom: 56px;
  color: white;
}

.hexagons {
  display: flex;
  justify-content: space-between;
}

.hexagon img {
  cursor: pointer;
}

.our-results h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
}
.our-results p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 26px;
  letter-spacing: 0px;
  max-width: 650px;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .head-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-left: 15px; */
    padding-right: 15px;
  }

  .main-paragraph {
    padding: 10px;
  }
  .what-we-do p{
    padding: 10px;
  }
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 0;
    margin-bottom: 110px;
  }
  .hexagons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  /* .head-container {
    display: block;
  } */
  .menu-icon {
    display: block;
    margin-right: 50px;
  }

  .menu:checked ~ .menu-list {
    display: block;
    max-height: 50%;
  }

  .nav-links {
    display: none;
  }
  .main-paragraph {
    padding: 10px;
  }
  .what-we-do p{
    padding: 10px;
  }
}

/* Fix for very small screen widths */
@media screen and (max-width: 430px) {
  .menu-icon {
    margin-right: 20px;
  }
  
}


